<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <title>蔬菜品种</title>
    <link charset="UTF-8" rel="stylesheet" type="text/css" th:href="@{static/easyui/themes/bootstrap/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{static/easyui/themes/icon.css}" />
    <script type="text/javascript" th:src="@{static/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{static/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{static/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <style>
        *{padding: 0px;margin:0px;}
        .a1{
            width:100%;border: 0px solid red;border-radius: 5px;font-size: 18px;text-align: center;background-color: #ddd;color: #333;
        }
        .a1 a{text-decoration: none;color:#fff;line-height: 2em;}
        .a1:active{
            background:#ccc;
        }
    </style>
</head>
<script type="text/javascript">
    document.oncontextmenu = function(){
        return false;
    }

    /**
     * easyui  格式化列
     * @param value
     * @param row
     * @param index
     * @returns {string}
     */
    function diyFormatter(value,row,index) {
        return "<span title='"+value+"'>"+value+"</span>";
    }

    /**
     * easyui  格式化列
     * @param value
     * @param row
     * @param index
     * @returns {string}
     */
    function diyFormatterMonth(value,row,index) {
        return "<span title='"+value+"月'>"+value+"月</span>";
    }


    /**
     * 格式化日期
     * @param date
     * @returns {string}
     */
    $.fn.datebox.defaults.formatter = function(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();

        var hour = date.getHours(); // 时
        var minutes = date.getMinutes(); // 分
        var seconds = date.getSeconds() //秒
        return y+"-"+m+"-"+d;
    }

</script>
<body  class="easyui-layout" ncontextmenu="return false;" onselectstart="return false">
<div data-options="region:'center',border:false">
    <div id = "detailinfo" style="width: 100%;height: 100%">
        <table id = "dg" style="width: 100%;height: 100%;margin: 0 auto" class="easyui-datagrid" data-options="
            url:'',
            singleSelect:true,
            striped:true,
            rownumbers:true,
            loadMsg:'数据处理中...',
            border:false,
            toolbar: '#toolbar',
            border:false
        ">
            <thead>
            <tr>
                <th data-options="field:'v_id',hidden:true,width:100,align:'center',halign:'center',formatter: diyFormatter">品种编号</th>
                <th data-options="field:'c_id',hidden:true,width:100,align:'center',halign:'center',formatter: diyFormatter">种类编号</th>
                <th data-options="field:'c_name',width:100,align:'center',halign:'center',formatter: diyFormatter">蔬菜种类</th>
                <th data-options="field:'v_name',width:100,align:'center',halign:'center',formatter: diyFormatter">蔬菜名称</th>
                <th data-options="field:'v_price',width:100,align:'center',halign:'center',formatter: diyFormatter">蔬菜价格</th>
                <th data-options="field:'v_sellout_name',width:100,align:'center',halign:'center',formatter: diyFormatter">是否售完</th>
                <th data-options="field:'v_mature_season',width:150,align:'center',halign:'center',formatter: diyFormatterMonth">蔬菜上市季节</th>
                <th data-options="field:'v_mature_end_season',width:150,align:'center',halign:'center',formatter: diyFormatterMonth">蔬菜下市季节</th>
                <th data-options="field:'v_is_back_season_name',width:100,align:'center',halign:'center',formatter: diyFormatter">是否反季节</th>
                <th data-options="field:'v_del_name',width:100,align:'center',halign:'center',formatter: diyFormatter">是否逻辑删除</th>
                <th data-options="field:'v_remark',width:100,align:'center',halign:'center',formatter: diyFormatter">备注</th>
                <th data-options="field:'v_updatetime',width:130,align:'center',halign:'center',formatter: diyFormatter">修改时间</th>
                <th data-options="field:'v_createtime',width:130,align:'center',halign:'center',formatter: diyFormatter">创建时间</th>
                <th data-options="field:'s_name',width:100,align:'center',halign:'center',formatter: diyFormatter">进货来源</th>
                <th data-options="field:'m_name',width:100,align:'center',halign:'center',formatter: diyFormatter">进货店铺名称</th>
                <th data-options="field:'m_gender',width:100,align:'center',halign:'center',formatter: diyFormatter">店铺老板性别</th>
                <th data-options="field:'m_boss_name',width:100,align:'center',halign:'center',formatter: diyFormatter">店铺老板姓名</th>
                <th data-options="field:'m_boss_phone',width:100,align:'center',halign:'center',formatter: diyFormatter">店铺老板手机号</th>

            </tr>
            </thead>
        </table>
    </div>

    <div id="toolbar">
        <div style="padding: 5px;">
            <div>
                蔬菜名称(支持模糊匹配)&nbsp;:&nbsp;<input class="easyui-textbox" id = "v_name" name="v_name" placeholder="输入蔬菜名称" />
            </div>
            <div>
                蔬菜种类&nbsp;:&nbsp;<input class="easyui-combobox" data-options="editable:false,disable:true,valueField:'id',textField:'text',url:'category/getBaseVegetablesCategoryCombobox'" id = "c_id" name="c_id" placeholder="输入蔬菜种类" />
            </div>
            <div>
                是否售完&nbsp;:&nbsp;<select id="v_sellout" class="easyui-combobox" name="v_sellout" data-options="editable:false,disable:true" style="width:200px;">
                <option value="">请选择</option>
                <option value="00">未售完</option>
                <option value="01">已售完</option>
            </select>
            </div>
            <div>
                蔬菜价格(数字)(起始区间)&nbsp;:&nbsp;<input class="easyui-textbox" id = "v_start_price" name="v_start_price" placeholder="输入蔬菜价格起始区间" />&nbsp;-
                <input class="easyui-textbox" id = "v_end_price" name="v_end_price" placeholder="输入蔬菜价格结束区间" />
            </div>
            <div>
                蔬菜上市季节&nbsp;:&nbsp;
                <select id="v_mature_season" class="easyui-combobox" name="v_mature_season" data-options="editable:false,disable:true" style="width:200px;">
                    <option value="">请选择</option>
                    <option value="1">一月</option>
                    <option value="2">二月</option>
                    <option value="3">三月</option>
                    <option value="4">四月</option>
                    <option value="5">五月</option>
                    <option value="6">六月</option>
                    <option value="7">七月</option>
                    <option value="8">八月</option>
                    <option value="9">九月</option>
                    <option value="10">十月</option>
                    <option value="11">十一月</option>
                    <option value="12">十二月</option>
                </select>
            </div>
            <div>
                蔬菜上市季节&nbsp;:&nbsp;
                <select id="v_mature_end_season" class="easyui-combobox" name="v_mature_end_season" data-options="editable:false,disable:true" style="width:200px;">
                    <option value="">请选择</option>
                    <option value="1">一月</option>
                    <option value="2">二月</option>
                    <option value="3">三月</option>
                    <option value="4">四月</option>
                    <option value="5">五月</option>
                    <option value="6">六月</option>
                    <option value="7">七月</option>
                    <option value="8">八月</option>
                    <option value="9">九月</option>
                    <option value="10">十月</option>
                    <option value="11">十一月</option>
                    <option value="12">十二月</option>
                </select>
            </div>
            <div>
                是否反季节&nbsp;:&nbsp;<select id="v_is_back_season" class="easyui-combobox" name="v_is_back_season" data-options="editable:false,disable:true" style="width:200px;">
                <option value="">请选择</option>
                <option value="01">是</option>
                <option value="00">否</option>
            </select>
            </div>
            <div>
                进货来源&nbsp;:&nbsp;<input class="easyui-combobox" data-options="editable:false,disable:true,valueField:'id',textField:'text',url:'purchaseSource/getBaseVegetablesPurchaseSourceCombobox'" id = "s_id" name="s_id" placeholder="输入进货来源" />
            </div>
            <div>
                进货店铺名称(支持模糊匹配)&nbsp;:&nbsp;<input class="easyui-textbox" id = "m_name" name="m_name" placeholder="输入进货店铺名称" />
            </div>
            <div>
                店铺老板姓名(支持模糊匹配)&nbsp;:&nbsp;<input class="easyui-textbox" id = "m_boss_name" name="m_boss_name" placeholder="输入店铺老板姓名" />
            </div>
            <div>
                店铺老板手机号(支持模糊匹配)&nbsp;:&nbsp;<input class="easyui-textbox" id = "m_boss_phone" name="m_boss_phone" placeholder="输入店铺老板手机号" />
            </div>
            <div>
                是否逻辑删除&nbsp;:&nbsp;<select id="v_del" class="easyui-combobox" name="v_del" data-options="editable:false,disable:true" style="width:200px;">
                <option value="">请选择</option>
                <option value="01">已删除</option>
                <option value="00">未删除</option>
            </select>
            </div>
            <div>
                修改数据时间(开始区间)&nbsp;:&nbsp;<input class="easyui-datebox" id ="v_start_updatetime" name="v_start_updatetime" data-options="showSeconds:false,editable:false" style="width:130px">&nbsp;-
                <input class="easyui-datebox" id ="v_end_updatetime" name="v_end_updatetime" data-options="showSeconds:false,editable:false" style="width:130px">
            </div>
            <a href="javascript:void(0)" onclick="add();" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="color: red;">新增</a>
            <a href="javascript:void(0)" onclick="edit();" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" style="color: red;">修改</a>
            <a href="javascript:void(0)" onclick="del();" class="easyui-linkbutton" data-options="iconCls:'icon-clear'" style="color: red;">删除</a>
            <a href="javascript:void(0)" onclick="filterDate();" class="easyui-linkbutton" data-options="iconCls:'icon-filter'" style="color: red;">条件过滤</a>
            <a href="javascript:void(0)" onclick="clearfilterDate();" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" style="color: red;">清空条件过滤</a>
        </div>
    </div>
</div>

<div id="mm" class="easyui-menu" style="width:120px;">
    <div href="javascript:void(0)" data-options="iconCls:'icon-add'" onclick="add();" style="color: red;">新增</div>
    <div class="menu-sep"></div>
    <div href="javascript:void(0)" data-options="iconCls:'icon-edit'" onclick="edit();" style="color: red;">修改</div>
    <div class="menu-sep"></div>
    <div href="javascript:void(0)" data-options="iconCls:'icon-clear'" onclick="del();" style="color: red;">删除</div>
</div>

<div id="editDialog" >
    <table id = "detail" style="display: none;padding: 25px 0px 0px 36px;">
        <tr><td>蔬菜种类:</td><td><select class="easyui-combobox" data-options="editable:false,disable:true" id = "edit_c_id" name="edit_c_id" style="width:150px;"></select></td></tr>
        <tr><td>进货来源：</td><td><select id="edit_s_id" class="easyui-combobox" name="edit_s_id" data-options="editable:false,disable:true" style="width:150px;"></select></td></tr>
        <tr><td>蔬菜名称：</td><td><input class = "easyui-textbox" id="edit_v_name" name = "edit_v_name"  data-options="width:150"/><br/></td></tr>
        <tr><td>蔬菜价格(数字)：</td><td><input class = "easyui-textbox" id="edit_v_price" name = "edit_v_price"  data-options="width:150"/><br/></td></tr>
        <tr><td>是否售完&nbsp;:&nbsp;</td><td><select id="edit_v_sellout" class="easyui-combobox" name="edit_v_sellout" data-options="editable:false,disable:true" style="width:150px;">
            <option value="00">未售完</option>
            <option value="01">已售完</option>
        </select></td></tr>
        <tr><td>蔬菜上市季节:</td><td>
            <select id="edit_v_mature_season" class="easyui-combobox" name="edit_v_mature_season" data-options="editable:false,disable:true" style="width:150px;">
                <option value="1">一月</option>
                <option value="2">二月</option>
                <option value="3">三月</option>
                <option value="4">四月</option>
                <option value="5">五月</option>
                <option value="6">六月</option>
                <option value="7">七月</option>
                <option value="8">八月</option>
                <option value="9">九月</option>
                <option value="10">十月</option>
                <option value="11">十一月</option>
                <option value="12">十二月</option>
            </select><br/></td></tr>
        <tr><td>蔬菜下市季节:</td><td>
            <select id="edit_v_mature_end_season" class="easyui-combobox" name="edit_v_mature_end_season" data-options="editable:false,disable:true" style="width:150px;">
                <option value="1">一月</option>
                <option value="2">二月</option>
                <option value="3">三月</option>
                <option value="4">四月</option>
                <option value="5">五月</option>
                <option value="6">六月</option>
                <option value="7">七月</option>
                <option value="8">八月</option>
                <option value="9">九月</option>
                <option value="10">十月</option>
                <option value="11">十一月</option>
                <option value="12">十二月</option>
            </select><br/></td></tr>
        <tr><td>是否反季节:</td><td>
            <select id="edit_v_is_back_season" class="easyui-combobox" name="edit_v_is_back_season" data-options="editable:false,disable:true" style="width:150px;">
                <option value="01">是</option>
                <option value="00">否</option>
            </select>
            <br/></td></tr>
        <tr><td>备注：</td><td><input id="edit_v_remark" class="easyui-textbox" name="edit_v_remark" style="width:150px;" /></td></tr>
        <!--<tr><td>是否删除：</td><td>
            <select id="edit_v_del" class="easyui-combobox" name="edit_v_del" data-options="editable:false,disable:true" style="width:150px;">
                <option value="00">可用</option>
                <option value="01">已删除</option>
            </select>
            <br/></td></tr>-->
        <tr><td></td><td>
            <a href="javascript:editSave();" class="easyui-linkbutton">&nbsp;保&nbsp;存&nbsp;</a></td></tr>
    </table>
</div>

<div id="addDialog" >
    <table id = "addDetail" style="display: none;padding: 25px 0px 0px 36px;">
        <tr><td>蔬菜种类:</td><td><input class="easyui-combobox" data-options="editable:false,disable:true,valueField:'id',textField:'text',url:'category/getBaseVegetablesCategoryCombobox'" id = "add_c_id" name="add_c_id" style="width:150px;"/></td></tr>
        <tr><td>进货来源：</td><td><select id="add_s_id" class="easyui-combobox" name="add_s_id" data-options="editable:false,disable:true" style="width:150px;"></select></td></tr>
        <tr><td>蔬菜名称：</td><td><input class = "easyui-textbox" id="add_v_name" name = "add_v_name"  data-options="width:150"/><br/></td></tr>
        <tr><td>蔬菜价格(数字)：</td><td><input class = "easyui-textbox" id="add_v_price" name = "add_v_price"  data-options="width:150"/><br/></td></tr>
        <tr><td>是否售完&nbsp;:&nbsp;</td><td><select id="add_v_sellout" class="easyui-combobox" name="add_v_sellout" data-options="editable:false,disable:true" style="width:150px;">
            <option value="00">未售完</option>
            <option value="01">已售完</option>
        </select></td></tr>
        <tr><td>蔬菜上市季节:</td><td>
        <select id="add_v_mature_season" class="easyui-combobox" name="add_v_mature_season" data-options="editable:false,disable:true" style="width:150px;">
            <option value="1">一月</option>
            <option value="2">二月</option>
            <option value="3">三月</option>
            <option value="4">四月</option>
            <option value="5">五月</option>
            <option value="6">六月</option>
            <option value="7">七月</option>
            <option value="8">八月</option>
            <option value="9">九月</option>
            <option value="10">十月</option>
            <option value="11">十一月</option>
            <option value="12">十二月</option>
        </select><br/></td></tr>
        <tr><td>蔬菜下市季节:</td><td>
        <select id="add_v_mature_end_season" class="easyui-combobox" name="add_v_mature_end_season" data-options="editable:false,disable:true" style="width:150px;">
            <option value="1">一月</option>
            <option value="2">二月</option>
            <option value="3">三月</option>
            <option value="4">四月</option>
            <option value="5">五月</option>
            <option value="6">六月</option>
            <option value="7">七月</option>
            <option value="8">八月</option>
            <option value="9">九月</option>
            <option value="10">十月</option>
            <option value="11">十一月</option>
            <option value="12">十二月</option>
        </select><br/></td></tr>
        <tr><td>是否反季节:</td><td>
            <select id="add_v_is_back_season" class="easyui-combobox" name="add_v_is_back_season" data-options="editable:false,disable:true" style="width:150px;">
                <option value="01">是</option>
                <option value="00">否</option>
            </select>
            <br/></td></tr>
        <tr><td>备注：</td><td><input id="add_v_remark" class="easyui-textbox" name="add_v_remark" style="width:150px;" /></td></tr>
        <!--<tr><td>是否删除：</td><td>
            <select id="add_v_del" class="easyui-combobox" name="add_v_del" data-options="editable:false,disable:true" style="width:150px;">
                <option value="00">可用</option>
                <option value="01">已删除</option>
            </select>
            <br/></td></tr>-->
        <tr><td></td><td>
        <a href="javascript:editSave();" class="easyui-linkbutton">&nbsp;保&nbsp;存&nbsp;</a></td></tr>
    </table>
</div>

</body>

<script type="text/javascript">

    /**
     * 加载列表信息
     */
    $(function(){
        $('#dg').datagrid({
            url:'varieties/getBaseVegetablesVarieties',
            onRowContextMenu:function(e, rowIndex, rowData){
                if(rowData!=null){
                    $('#mm').menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    });
                }
            }
        });
    });

    /**
     * 过滤数据
     * */
    function filterDate() {
        var v_name = $('#v_name').textbox("getValue");
        var v_start_price = $('#v_start_price').textbox("getValue");
        var v_end_price = $('#v_end_price').textbox("getValue");
        var v_mature_season = $('#v_mature_season').combobox("getValue");
        var v_mature_end_season = $('#v_mature_end_season').combobox("getValue");
        var v_is_back_season = $('#v_is_back_season').combobox("getValue");
        var s_id = $('#s_id').combobox("getValue");
        var c_id = $('#c_id').combobox("getValue");
        var m_name = $('#m_name').textbox("getValue");
        var m_boss_name = $('#m_boss_name').textbox("getValue");
        var m_boss_phone = $('#m_boss_phone').textbox("getValue");
        var v_del = $('#v_del').combobox("getValue");
        var v_start_updatetime = $('#v_start_updatetime').datebox("getValue");
        var v_end_updatetime = $('#v_end_updatetime').datebox("getValue");
        var v_sellout = $('#v_sellout').combobox("getValue");


        var obj = {
            v_name: v_name,
            v_start_price: v_start_price,
            v_end_price: v_end_price,
            v_mature_season: v_mature_season,
            v_mature_end_season: v_mature_end_season,
            v_is_back_season: v_is_back_season,
            s_id: s_id,
            c_id : c_id,
            m_name: m_name,
            m_boss_name: m_boss_name,
            m_boss_phone: m_boss_phone,
            v_del: v_del,
            v_start_updatetime: v_start_updatetime,
            v_end_updatetime: v_end_updatetime,
            v_sellout : v_sellout
        }

        $('#dg').datagrid('load',{
            paramStr:JSON.stringify(obj)
        });
    }

    /**
     * 清空条件过滤
     **/
    function clearfilterDate() {
        $('#v_name').textbox("setValue","");
        $('#v_start_price').textbox("setValue","");
        $('#v_end_price').textbox("setValue","");
        $('#v_mature_season').combobox("setValue","");
        $('#v_mature_end_season').combobox("setValue","");
        $('#v_is_back_season').combobox("setValue","");
        $('#s_id').combobox("setValue","");
        $('#m_name').textbox("setValue","");
        $('#m_boss_name').textbox("setValue","");
        $('#m_boss_phone').textbox("setValue","");
        $('#v_del').combobox("setValue","");
        $('#v_start_updatetime').datebox("setValue","");
        $('#v_end_updatetime').datebox("setValue","");
        $('#v_sellout').combobox("setValue","");
        filterDate();
    }

    var opt_flag = true;  //标识是新增还是修改

    /**
     * 添加
     * */
    function add(){
        opt_flag = true;

        $('#addDetail').css("display","block");
        $('#add_v_id').combobox({
            url:'varieties/getVarietiesCombobox',
            valueField:'id',
            textField:'text'
        });

        $('#add_s_id').combobox({
            url:'purchaseSource/getBaseVegetablesPurchaseSourceCombobox',
            valueField:'id',
            textField:'text'
        });

        $('#addDialog').window({
            title:'添加蔬菜行情详细信息',
            width:340,
            height:320,
            modal:true
        });
        $('#addDialog').dialog('open');
    }




    //修改
    function edit(){
        opt_flag = false;

        var getRows = $('#dg').datagrid("getSelected"); //获取datagrid选中行
        if(getRows==null){
            $.messager.show({
                title:'系统消息',
                msg:'请选中一行蔬菜行情进行删除!',
                timeout:5000,
                showType:'slide'
            });
            return false;
        }
        $('#detail').css("display","block");

        console.info(getRows);

        $('#edit_c_id').combobox({
            url:'category/getBaseVegetablesCategoryCombobox',
            valueField:'id',
            textField:'text',
            onLoadSuccess: function () { //加载完成后,val[0]写死设置选中第一项
                var val = $(this).combobox("getData");
                for (var item in val) {
                    if (item.id == getRows.c_id) {
                        $(this).combobox("select", val[item].id);
                    }
                }
            }
        });

        $('#edit_s_id').combobox({
            url:'purchaseSource/getBaseVegetablesPurchaseSourceCombobox',
            valueField:'id',
            textField:'text',
            onLoadSuccess: function () { //加载完成后,val[0]写死设置选中第一项
                var val = $(this).combobox("getData");
                for (var item in val) {
                    if (item.id == getRows.v_id) {
                        $(this).combobox("select", val[item].id);
                    }
                }
            }
        });

        $('#editDialog').window({
            title:'编辑蔬菜行情详细信息',
            width:340,
            height:320,
            modal:true
        });

        //$('#edit_v_id').textbox("setValue",getRows.v_id);

        $('#edit_c_id').combobox("setValue",getRows.c_id);
        $('#edit_s_id').textbox("setValue",getRows.s_id);
        $('#edit_v_name').textbox("setValue",getRows.v_name);
        $('#edit_v_price').textbox("setValue",getRows.v_price);
        $('#edit_v_mature_season').combobox("setValue",getRows.v_mature_season);
        $('#edit_v_mature_end_season').combobox("setValue",getRows.v_mature_end_season);
        $('#edit_v_is_back_season').combobox("setValue",getRows.v_is_back_season);
        //$('#edit_v_del').combobox("setValue",getRows.v_del);
        $('#edit_v_remark').textbox("setValue",getRows.v_remark);
        $('#edit_v_sellout').combobox("setValue",getRows.v_sellout);
        $('#editDialog').dialog('open');
    }


    //确认修改或新增
    function editSave() {
        if(opt_flag){ //新增

            var add_c_id = $('#add_c_id').combobox("getValue");
            var add_s_id = $('#add_s_id').combobox("getValue");
            var add_v_name = $('#add_v_name').textbox("getValue");
            var add_v_price = $('#add_v_price').textbox("getValue");
            var add_v_mature_season = $('#add_v_mature_season').combobox("getValue");
            var add_v_mature_end_season = $('#add_v_mature_end_season').combobox("getValue");
            var add_v_is_back_season = $('#add_v_is_back_season').combobox("getValue");
            //var add_v_del = $('#add_v_del').combobox("getValue");
            var add_v_remark = $('#add_v_remark').textbox("getValue");
            var v_sellout = $('#v_sellout').combobox("getValue");

            var obj = {
                add_c_id : add_c_id,
                add_s_id : add_s_id,
                add_v_name : add_v_name,
                add_v_price : add_v_price,
                add_v_mature_season : add_v_mature_season,
                add_v_mature_end_season : add_v_mature_end_season,
                add_v_is_back_season : add_v_is_back_season,
                //add_v_del : add_v_del,
                add_v_remark : add_v_remark,
                v_sellout : v_sellout
            }

            $.ajax({
                url:'varieties/addBaseVegetablesVarieties',
                method:'post',
                data:{
                    paramStr:JSON.stringify(obj)
                },
                success : function(data){
                    if(data.code=="00"){
                        $('#addDialog').dialog("close");
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title:'系统消息',
                            msg:data.msg,
                            timeout:3000,
                            showType:'slide'
                        });
                    }else{
                        $.messager.show({
                            title:'系统消息',
                            msg:data.msg,
                            timeout:3000,
                            showType:'slide'
                        });
                    }
                },
                error : function(a,b,c){
                    $.messager.show({
                        title:'系统消息',
                        msg:'修改异常',
                        timeout:3000,
                        showType:'slide'
                    });
                }
            });
        }else if(!opt_flag){ //修改
            var edit_c_id = $('#edit_c_id').combobox("getValue");
            var edit_s_id = $('#edit_s_id').combobox("getValue");
            var edit_v_name = $('#edit_v_name').textbox("getValue");
            var edit_v_price = $('#edit_v_price').textbox("getValue");
            var edit_v_mature_season = $('#edit_v_mature_season').combobox("getValue");
            var edit_v_mature_end_season = $('#edit_v_mature_end_season').combobox("getValue");
            var edit_v_is_back_season = $('#edit_v_is_back_season').combobox("getValue");
            //var edit_v_del = $('#edit_v_del').combobox("getValue");
            var edit_v_remark = $('#edit_v_remark').textbox("getValue");

            var edit_v_sellout = $('#edit_v_sellout').combobox("getValue");

            var getRows = $('#dg').datagrid("getSelected"); //获取datagrid选中行
            var obj = {
                v_id : getRows.v_id,
                edit_c_id : edit_c_id,
                edit_s_id : edit_s_id,
                edit_v_name : edit_v_name,
                edit_v_price : edit_v_price,
                edit_v_mature_season : edit_v_mature_season,
                edit_v_mature_end_season : edit_v_mature_end_season,
                edit_v_is_back_season : edit_v_is_back_season,
                //edit_v_del : edit_v_del,
                edit_v_remark : edit_v_remark,
                edit_v_sellout : edit_v_sellout
            }
            $.ajax({
                url:'varieties/editBaseVegetablesVarieties',
                method:'post',
                data:{
                    paramStr:JSON.stringify(obj)
                },
                success : function(data){
                    if(data.code=="00"){
                        $('#editDialog').dialog("close");
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title:'系统消息',
                            msg: data.msg,
                            timeout:3000,
                            showType:'slide'
                        });
                    }else{
                        $.messager.show({
                            title:'系统消息',
                            msg:data.msg,
                            timeout:3000,
                            showType:'slide'
                        });
                    }
                },
                error : function(a,b,c){
                    $.messager.show({
                        title:'系统消息',
                        msg:'修改异常',
                        timeout:3000,
                        showType:'slide'
                    });
                }
            });
        }else{
            $.messager.show({
                title:'系统消息',
                msg:'无效操作',
                timeout:3000,
                showType:'slide'
            });
        }


    }

    //删除
    function del() {
        var getRows = $('#dg').datagrid("getSelected"); //获取datagrid选中行
        if(getRows==null){
            $.messager.show({
                title:'系统消息',
                msg:'请选中一行蔬菜品种进行删除!',
                timeout:5000,
                showType:'slide'
            });
            return false;
        }

        $.messager.confirm('系统确认', '您确定要删除蔬菜名称为 ['+getRows.v_name+'] 的品种信息么,请谨慎操作?', function(r){
            if (r){
                var obj = {v_id:getRows.v_id};
                $.ajax({
                    url:'varieties/removeBaseVegetablesVarieties',
                    method:'post',
                    data:{
                        paramStr:JSON.stringify(obj)
                    },
                    success : function(data){
                        if(data.code=="00"){
                            $('#dg').datagrid('reload');
                            $.messager.show({
                                title:'系统消息',
                                msg:data.msg,
                                timeout:3000,
                                showType:'slide'
                            });
                        }else{
                            $.messager.show({
                                title:'系统消息',
                                msg:data.msg,
                                timeout:3000,
                                showType:'slide'
                            });
                        }
                    },
                    error : function(a,b,c){
                        $.messager.show({
                            title:'系统消息',
                            msg:'删除异常',
                            timeout:3000,
                            showType:'slide'
                        });
                    }
                });
            }
        });
    }





</script>
</html>