<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8" />
    <title>蔬菜行情</title>
    <link charset="UTF-8" rel="stylesheet" type="text/css" th:href="@{static/easyui/themes/bootstrap/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{static/easyui/themes/icon.css}" />
    <script type="text/javascript" th:src="@{static/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{static/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{static/easyui/locale/easyui-lang-zh_CN.js}"></script>
    <style>
        *{padding: 0px;margin:0px;}
        .a1{
            width:100%;border: 0px solid red;border-radius: 5px;font-size: 18px;text-align: center;background-color: #ddd;color: #333;
        }
        .a1 a{text-decoration: none;color:#fff;line-height: 2em;}
        .a1:active{
            background:#ccc;
        }
    </style>
</head>
<script type="text/javascript">
    document.oncontextmenu = function(){
        return false;
    }


    /**
     * easyui  格式化列
     * @param value
     * @param row
     * @param index
     * @returns {string}
     */
    function diyFormatter(value,row,index) {
        return "<span title='"+value+"'>"+value+"</span>";
    }

    /**
     * 格式化日期
     * @param date
     * @returns {string}
     */
    $.fn.datebox.defaults.formatter = function(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();

        var hour = date.getHours(); // 时
        var minutes = date.getMinutes(); // 分
        var seconds = date.getSeconds() //秒
        return y+"-"+m+"-"+d;
    }

</script>
<body  class="easyui-layout" ncontextmenu="return false;" onselectstart="return false">
<div data-options="region:'center',border:false">
    <div id = "detailinfo" style="width: 100%;height: 100%">
        <table id = "dg" style="width: 100%;height: 100%;margin: 0 auto" class="easyui-datagrid" data-options="
            url:'',
            singleSelect:true,
            striped:true,
            rownumbers:true,
            loadMsg:'数据处理中...',
            border:false,
            toolbar: '#toolbar',
            border:false
        ">
            <thead>
                <tr>
                    <th data-options="field:'q_id',hidden:true,width:100,align:'center',halign:'center',formatter: diyFormatter">行情编号</th>
                    <th data-options="field:'c_name',width:100,align:'center',halign:'center',formatter: diyFormatter">蔬菜种类</th>
                    <th data-options="field:'v_name',width:100,align:'center',halign:'center',formatter: diyFormatter">蔬菜名称</th>
                    <th data-options="field:'s_name',width:100,align:'center',halign:'center',formatter: diyFormatter">蔬菜进货来源</th>
                    <th data-options="field:'q_investigation_date',width:130,align:'center',halign:'center',formatter: diyFormatter">调查时间</th>
                    <th data-options="field:'q_investigation_price',width:100,align:'center',halign:'center',formatter: diyFormatter">调查价格</th>
                    <th data-options="field:'q_price_increase',width:100,align:'center',halign:'center',formatter: diyFormatter">价格涨幅</th>
                    <th data-options="field:'q_del_name',width:100,align:'center',halign:'center',formatter: diyFormatter">是否逻辑删除</th>
                    <th data-options="field:'q_updatetime',width:130,align:'center',halign:'center',formatter: diyFormatter">修改时间</th>
                    <th data-options="field:'q_createtime',width:130,align:'center',halign:'center',formatter: diyFormatter">创建时间</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="toolbar">
        <div style="padding: 5px;">
            <div>
                蔬菜名称(支持模糊匹配)&nbsp;:&nbsp;<input class="easyui-textbox" id = "v_name" name="v_name" placeholder="输入蔬菜名称" />
            </div>
            <div>
                进货来源&nbsp;:&nbsp;<input class="easyui-combobox" data-options="editable:false,disable:true,valueField:'id',textField:'text',url:'purchaseSource/getBaseVegetablesPurchaseSourceCombobox'" id = "s_id" name="s_id" placeholder="输入进货来源" />
            </div>
            <div>
                调查价格(数字)(开始区间)&nbsp;:&nbsp;<input class="easyui-textbox" id = "q_start_investigation_price" name="q_start_investigation_price" placeholder="输入调查价格(开始区间)" />&nbsp;-
                <input class="easyui-textbox" id = "q_end_investigation_price" name="q_end_investigation_price" placeholder="输入调查价格(结束区间)" />
            </div>
            <div>
                价格涨幅(数字)(开始区间)&nbsp;:&nbsp;<input class="easyui-textbox" id = "q_start_price_increase" name="q_start_price_increase" placeholder="输入价格涨幅(开始区间)" />&nbsp;-
                <input class="easyui-textbox" id = "q_end_price_increase" name="q_end_price_increase" placeholder="输入价格涨幅(结束区间)" />
            </div>
            <div>
                是否逻辑删除&nbsp;:&nbsp;<select id="q_del" class="easyui-combobox" name="q_del" data-options="editable:false,disable:true" style="width:200px;">
                    <option value="">请选择</option>
                    <option value="01">已删除</option>
                    <option value="00">未删除</option>
                </select>
            </div>
            <div>
                修改数据时间(开始区间)&nbsp;:&nbsp;<input class="easyui-datebox" id ="q_start_updatetime" name="q_start_updatetime" data-options="showSeconds:false,editable:false" style="width:130px">&nbsp;-
                <input class="easyui-datebox" id ="q_end_updatetime" name="q_end_updatetime" data-options="showSeconds:false,editable:false" style="width:130px">
            </div>
            <a href="javascript:void(0)" onclick="add();" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="color: red;">新增</a>
            <a href="javascript:void(0)" onclick="edit();" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" style="color: red;">修改</a>
            <a href="javascript:void(0)" onclick="del();" class="easyui-linkbutton" data-options="iconCls:'icon-clear'" style="color: red;">删除</a>
            <a href="javascript:void(0)" onclick="filterDate();" class="easyui-linkbutton" data-options="iconCls:'icon-filter'" style="color: red;">条件过滤</a>
            <a href="javascript:void(0)" onclick="clearfilterDate();" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" style="color: red;">清空条件过滤</a>
        </div>
    </div>
</div>

<div id="mm" class="easyui-menu" style="width:120px;">
    <div href="javascript:void(0)" data-options="iconCls:'icon-add'" onclick="add();" style="color: red;">新增</div>
    <div class="menu-sep"></div>
    <div href="javascript:void(0)" data-options="iconCls:'icon-edit'" onclick="edit();" style="color: red;">修改</div>
    <div class="menu-sep"></div>
    <div href="javascript:void(0)" data-options="iconCls:'icon-clear'" onclick="del();" style="color: red;">删除</div>
</div>
</body>

<div id="editDialog" >
        <table id = "detail" style="display: none;padding: 25px 0px 0px 36px;">
            <tr><td>进货来源：</td><td><select id="edit_s_id" class="easyui-combobox" name="edit_s_id" data-options="editable:false,disable:true" style="width:150px;"></select></td></tr>
            <tr><td>调查时间：</td><td><input class = "easyui-datetimebox" id="edit_q_investigation_date" name = "edit_q_investigation_date"  data-options="width:150"/><br/></td></tr>
            <tr><td>调查价格：</td><td><input class = "easyui-textbox" id="edit_q_investigation_price" name = "edit_q_investigation_price"  data-options="width:150"/><br/></td></tr>
            <tr><td>价格涨幅：</td><td><input class = "easyui-textbox" id="edit_q_price_increase" name = "edit_q_price_increase"  data-options="width:150"/><br/></td></tr>
            <tr><td>是否删除：</td><td>
                <select id="edit_q_del" class="easyui-combobox" name="edit_q_del" data-options="editable:false,disable:true" style="width:150px;">
                    <option value="00">可用</option>
                    <option value="01">已删除</option>
                </select>
            <tr><td></td><td><br/><a href="javascript:editSave();" class="easyui-linkbutton">&nbsp;&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td></tr>
        </table>
</div>

<div id="addDialog" >
    <table id = "addDetail" style="display: none;padding: 25px 0px 0px 36px;">
        <tr><td>蔬菜名称：</td><td><select id="add_v_id" class="easyui-combobox" name="add_v_id" data-options="editable:false,disable:true" style="width:150px;"></select></td></tr>
        <tr><td>进货来源：</td><td><select id="add_s_id" class="easyui-combobox" name="add_s_id" data-options="editable:false,disable:true" style="width:150px;"></select></td></tr>
        <tr><td>调查时间：</td><td><input class = "easyui-datetimebox" id="add_q_investigation_date" name = "add_q_investigation_date"  data-options="width:150"/><br/></td></tr>
        <tr><td>调查价格：</td><td><input class = "easyui-textbox" id="add_q_investigation_price" name = "add_q_investigation_price"  data-options="width:150"/><br/></td></tr>
        <tr><td>价格涨幅：</td><td><input class = "easyui-textbox" id="add_q_price_increase" name = "add_q_price_increase"  data-options="width:150"/><br/></td></tr>
        <tr><td>是否删除：</td><td>
            <select id="add_q_del" class="easyui-combobox" name="add_q_del" data-options="editable:false,disable:true" style="width:150px;">
                <option value="00">可用</option>
                <option value="01">已删除</option>
            </select>
        <tr><td></td><td><br/><a href="javascript:editSave();" class="easyui-linkbutton">&nbsp;&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td></tr>
    </table>
</div>




<script type="text/javascript">

    /**
     * 加载列表信息
     */
    $(function(){
        $('#dg').datagrid({
            url:'quotation/getBaseVegetablesQuotation',
            onRowContextMenu:function(e, rowIndex, rowData){
                if(rowData!=null){
                    $('#mm').menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    });
                }
            }
        });
    });

    /**
     * 过滤数据
     * */
    function filterDate() {
        var s_id = $('#s_id').combobox("getValue");
        var v_name = $('#v_name').textbox("getValue");
        var q_start_investigation_price = $('#q_start_investigation_price').textbox("getValue");
        var q_end_investigation_price = $('#q_end_investigation_price').textbox("getValue");
        var q_start_price_increase = $('#q_start_price_increase').textbox("getValue");
        var q_end_price_increase = $('#q_end_price_increase').textbox("getValue");
        var q_del = $('#q_del').combobox("getValue");
        var q_start_updatetime = $('#q_start_updatetime').datebox("getValue");
        var q_end_updatetime = $('#q_end_updatetime').datebox("getValue");

        var obj = {
            s_id : s_id,
            v_name : v_name,
            q_start_investigation_price: q_start_investigation_price,
            q_end_investigation_price: q_end_investigation_price,
            q_start_price_increase: q_start_price_increase,
            q_end_price_increase: q_end_price_increase,
            q_del: q_del,
            q_start_updatetime: q_start_updatetime,
            q_end_updatetime: q_end_updatetime
        }

        $('#dg').datagrid('load',{
            paramStr:JSON.stringify(obj)
        });

        /*alert("q_start_investigation_price:"+q_start_investigation_price);
        alert("q_end_investigation_price:"+q_end_investigation_price);
        alert("q_start_price_increase:"+q_start_price_increase);
        alert("q_end_price_increase:"+q_end_price_increase);
        alert("q_del:"+q_del);
        alert("q_start_updatetime:"+q_start_updatetime);
        alert("q_end_updatetime:"+q_end_updatetime);*/
    }

    /**
     * 清空条件过滤
     **/
    function clearfilterDate() {
        $('#s_id').combobox("setValue","");
        $('#v_name').textbox("setValue","");
        $('#q_start_investigation_price').textbox("setValue","");
        $('#q_end_investigation_price').textbox("setValue","");
        $('#q_start_price_increase').textbox("setValue","");
        $('#q_end_price_increase').textbox("setValue","");
        $('#q_del').combobox("setValue","");
        $('#q_start_updatetime').datebox("setValue","");
        $('#q_end_updatetime').datebox("setValue","");
        filterDate();
    }

    var opt_flag = true;  //标识是新增还是修改

    /**
     * 添加
     * */
    function add(){
        opt_flag = true;

        $('#addDetail').css("display","block");
        $('#add_v_id').combobox({
         url:'varieties/getVarietiesCombobox',
             valueField:'id',
             textField:'text'
         });

        $('#add_s_id').combobox({
            url:'purchaseSource/getBaseVegetablesPurchaseSourceCombobox',
            valueField:'id',
            textField:'text'
        });

        $('#addDialog').window({
            title:'添加蔬菜行情详细信息',
            width:310,
            height:280,
            modal:true
        });
        $('#addDialog').dialog('open');
    }




    //修改
    function edit(){
        opt_flag = false;

        var getRows = $('#dg').datagrid("getSelected"); //获取datagrid选中行
        if(getRows==null){
            $.messager.show({
                title:'系统消息',
                msg:'请选中一行蔬菜行情进行删除!',
                timeout:5000,
                showType:'slide'
            });
            return false;
        }
        $('#detail').css("display","block");
        /*$('#edit_v_id').combobox({
            url:'varieties/getVarietiesCombobox',
            valueField:'id',
            textField:'text',
            onLoadSuccess: function () { //加载完成后,val[0]写死设置选中第一项
                var val = $(this).combobox("getData");
                for (var item in val) {
                    console.info(item);
                    if (item.id == getRows.v_id) {
                        $(this).combobox("select", val[item].id);
                    }
                }
            }
        });*/

        $('#edit_s_id').combobox({
            url:'purchaseSource/getBaseVegetablesPurchaseSourceCombobox',
            valueField:'id',
            textField:'text',
            onLoadSuccess: function () { //加载完成后,val[0]写死设置选中第一项
                var val = $(this).combobox("getData");
                for (var item in val) {
                    console.info(item);
                    if (item.id == getRows.v_id) {
                        $(this).combobox("select", val[item].id);
                    }
                }
            }
        });

        $('#editDialog').window({
            title:'编辑蔬菜行情详细信息',
            width:310,
            height:280,
            modal:true
        });

        //$('#edit_v_id').textbox("setValue",getRows.v_id);
        $('#edit_s_id').textbox("setValue",getRows.s_id);
        $('#edit_q_investigation_date').datetimebox("setValue",getRows.q_investigation_date);
        $('#edit_q_investigation_price').textbox("setValue",getRows.q_investigation_price);
        $('#edit_q_price_increase').textbox("setValue",getRows.q_price_increase);
        $('#edit_q_del').combobox("setValue",getRows.q_del);
        $('#editDialog').dialog('open');
    }


    //确认修改或新增
    function editSave() {
        if(opt_flag){ //新增

            var add_v_id = $('#add_v_id').combobox("getValue");
            var add_s_id = $('#add_s_id').combobox("getValue");
            var add_q_investigation_date = $('#add_q_investigation_date').datetimebox("getValue");
            var add_q_investigation_price = $('#add_q_investigation_price').textbox("getValue");
            var add_q_price_increase = $('#add_q_price_increase').textbox("getValue");
            var add_q_del = $('#add_q_del').combobox("getValue");

            var obj = {
                add_v_id : add_v_id,
                add_s_id : add_s_id,
                add_q_investigation_date : add_q_investigation_date,
                add_q_investigation_price : add_q_investigation_price,
                add_q_price_increase : add_q_price_increase,
                add_q_del : add_q_del
            }

            $.ajax({
                url:'quotation/addBaseVegetablesQuotation',
                method:'post',
                data:{
                    paramStr:JSON.stringify(obj)
                },
                success : function(data){
                    if(data.code=="00"){
                        $('#addDialog').dialog("close");
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title:'系统消息',
                            msg:data.msg,
                            timeout:3000,
                            showType:'slide'
                        });
                    }else{
                        $.messager.show({
                            title:'系统消息',
                            msg:data.msg,
                            timeout:3000,
                            showType:'slide'
                        });
                    }
                },
                error : function(a,b,c){
                    $.messager.show({
                        title:'系统消息',
                        msg:'修改异常',
                        timeout:3000,
                        showType:'slide'
                    });
                }
            });
        }else if(!opt_flag){ //修改
            var edit_s_id = $('#edit_s_id').combobox("getValue");
            var edit_q_investigation_date = $('#edit_q_investigation_date').datetimebox("getValue");
            var edit_q_investigation_price = $('#edit_q_investigation_price').textbox("getValue");
            var edit_q_price_increase = $('#edit_q_price_increase').textbox("getValue");
            var edit_q_del = $('#edit_q_del').combobox("getValue");

            var getRows = $('#dg').datagrid("getSelected"); //获取datagrid选中行
            var obj = {
                q_id : getRows.q_id,
                edit_s_id : edit_s_id,
                edit_q_investigation_date : edit_q_investigation_date,
                edit_q_investigation_price : edit_q_investigation_price,
                edit_q_price_increase : edit_q_price_increase,
                edit_q_del : edit_q_del
            }
            $.ajax({
                url:'quotation/editBaseVegetablesQuotation',
                method:'post',
                data:{
                    paramStr:JSON.stringify(obj)
                },
                success : function(data){
                    if(data.code=="00"){
                        $('#editDialog').dialog("close");
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title:'系统消息',
                            msg: data.msg,
                            timeout:3000,
                            showType:'slide'
                        });
                    }else{
                        $.messager.show({
                            title:'系统消息',
                            msg:data.msg,
                            timeout:3000,
                            showType:'slide'
                        });
                    }
                },
                error : function(a,b,c){
                    $.messager.show({
                        title:'系统消息',
                        msg:'修改异常',
                        timeout:3000,
                        showType:'slide'
                    });
                }
            });
        }else{
            $.messager.show({
                title:'系统消息',
                msg:'无效操作',
                timeout:3000,
                showType:'slide'
            });
        }


    }

    //删除
    function del() {
        var getRows = $('#dg').datagrid("getSelected"); //获取datagrid选中行
        if(getRows==null){
            $.messager.show({
                title:'系统消息',
                msg:'请选中一行蔬菜行情进行删除!',
                timeout:5000,
                showType:'slide'
            });
            return false;
        }

        $.messager.confirm('系统确认', '您确定要删除蔬菜名称为 ['+getRows.v_name+'] 的市场行情信息么,请谨慎操作?', function(r){
            if (r){
                var obj = {q_id:getRows.q_id};
                $.ajax({
                    url:'quotation/removeBaseVegetablesQuotation',
                    method:'post',
                    data:{
                        paramStr:JSON.stringify(obj)
                    },
                    success : function(data){
                        if(data.code=="00"){
                            $('#dg').datagrid('reload');
                            $.messager.show({
                                title:'系统消息',
                                msg:data.msg,
                                timeout:3000,
                                showType:'slide'
                            });
                        }else{
                            $.messager.show({
                                title:'系统消息',
                                msg:data.msg,
                                timeout:3000,
                                showType:'slide'
                            });
                        }
                    },
                    error : function(a,b,c){
                        $.messager.show({
                            title:'系统消息',
                            msg:'删除异常',
                            timeout:3000,
                            showType:'slide'
                        });
                    }
                });
            }
        });
    }





</script>
</html>