<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vegetables.mapper.BaseVegetablesQuotationMapper">

    <!-- 查询蔬菜行情信息 -->
    <select id="getBaseVegetablesQuotation" parameterType="java.util.Map" resultType="java.util.Map">

        SELECT temp.*,bvv.v_name FROM (
        SELECT vvqc.*,bvps.s_name FROM (
        SELECT bvq.*,bvc.c_name FROM (
        select q_id,v_id,s_id,DATE_FORMAT(q_investigation_date,'%Y-%m-%d %H:%i:%S') q_investigation_date,q_investigation_price,q_price_increase,q_del,
        DATE_FORMAT(q_updatetime,'%Y-%m-%d %H:%i:%S') q_updatetime,DATE_FORMAT(q_createtime,'%Y-%m-%d %H:%i:%S') q_createtime from base_vegetables_quotation
        <where>
            <if test="q_id != null">and q_id = #{q_id}</if>
            <if test="v_id != null">and v_id = #{v_id}</if>
            <if test="s_id != null">and s_id = #{s_id}</if>
            <if test="q_investigation_date != null">and q_investigation_date  BETWEEN #{q_start_investigation_date} and #{q_end_investigation_date}</if>
            <if test="(q_start_investigation_price != null and q_start_investigation_price != '') and (q_end_investigation_price != null and q_end_investigation_price != '')">and q_investigation_price BETWEEN #{q_start_investigation_price} AND #{q_end_investigation_price}</if>
            <if test="(q_start_investigation_price != null and q_start_investigation_price != '') and (q_end_investigation_price == null or q_end_investigation_price =='')">and q_investigation_price &lt;= #{q_start_investigation_price}</if>
            <if test="(q_start_investigation_price == null or q_start_investigation_price == '') and (q_end_investigation_price != null and q_end_investigation_price !='')">and q_investigation_price &lt;= #{q_end_investigation_price}</if>
            <if test="(q_start_price_increase != null and q_start_price_increase != '') and (q_end_price_increase != null and q_end_price_increase != '')">and q_price_increase BETWEEN #{q_start_price_increase} AND #{q_end_price_increase}</if>
            <if test="(q_start_price_increase != null and q_start_price_increase != '') and (q_end_price_increase == null or q_end_price_increase == '')">and q_price_increase &lt;= #{q_start_price_increase}</if>
            <if test="(q_start_price_increase == null or q_start_price_increase == '') and (q_end_price_increase != null and q_end_price_increase != '')">and q_price_increase &lt;= #{q_end_price_increase}</if>
            <if test="q_del != null">and q_del = #{q_del}</if>
            <if test="(q_start_updatetime != null and q_start_updatetime != '') and (q_end_updatetime != null and q_end_updatetime != '')">and q_updatetime BETWEEN #{q_start_updatetime} and #{q_end_updatetime}</if>
            <if test="(q_start_updatetime != null and q_start_updatetime != '') and (q_end_updatetime == null or q_end_updatetime ='')">and q_updatetime &lt;= #{q_start_updatetime}</if>
            <if test="(q_start_updatetime == null or q_start_updatetime =='') and (q_end_updatetime != null and q_end_updatetime != '')">and q_updatetime &lt;= #{q_end_updatetime}</if>
            <if test="q_createtime != null">and q_createtime BETWEEN #{q_start_createtime} and #{q_end_createtime}</if>
        </where>
        )
        bvq INNER JOIN base_vegetables_category bvc on bvq.v_id = bvc.c_id ) vvqc
        INNER JOIN base_vegetables_purchase_source bvps on vvqc.s_id = bvps.s_id ) temp
        INNER JOIN base_vegetables_varieties bvv on temp.v_id = bvv.v_id
    </select>
    
    
    <!-- 添加蔬菜行情信息 -->
    <insert id="addBaseVegetablesQuotation" parameterType="java.util.Map">
        INSERT INTO base_vegetables_quotation(v_id,s_id,q_investigation_date,q_investigation_price,q_price_increase,q_del,q_updatetime,q_createtime)
        VALUES (#{v_id},#{s_id},#{q_investigation_date},#{q_investigation_price},#{q_price_increase},#{q_del},now(),now())
    </insert>

    <!-- 修改蔬菜行情信息 -->
    <update id="updateBaseVegetablesQuotation" parameterType="java.util.Map">
        UPDATE base_vegetables_quotation
        <set>
            <if test="v_id != null">v_id = #{v_id},</if>
            <if test="s_id != null">s_id = #{s_id},</if>
            <if test="q_investigation_date != null and q_investigation_date != ''">q_investigation_date = #{q_investigation_date},</if>
            <if test="q_investigation_price != null">q_investigation_price = #{q_investigation_price},</if>
            <if test="q_price_increase != null">q_price_increase = #{q_price_increase},</if>
            <if test="v_del != null">v_del = #{v_del},</if>
            q_updatetime = now()
        </set>
        WHEN q_id = #{q_id}
    </update>


</mapper>