<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vegetables.mapper.BaseVegetablesPurchaseSourceMapper">


    <!-- 查询蔬菜进货来源信息 -->
    <select id="getBaseVegetablesPurchaseSource" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT s_id,s_name,CASE s_is_purchase
        WHEN '00' THEN '是'
        WHEN '01' THEN '否'
        END s_is_purchase_name,s_is_purchase,s_remark,CASE s_del
        WHEN '00' THEN '可用'
        WHEN '01' THEN '已删除'
        END s_del_name,s_del,
        DATE_FORMAT(s_updatetime,'%Y-%m-%d %H:%i:%S') s_updatetime,DATE_FORMAT(s_createtime,'%Y-%m-%d %H:%i:%S') s_createtime
        FROM base_vegetables_purchase_source
        <where>
            <if test="s_id != null and s_id != ''">and s_id = #{s_id}</if>
            <if test="s_name !=null and s_name != ''">and s_name LIKE CONCAT('%',#{s_name},'%')</if>
            <if test="s_is_purchase !=null and s_is_purchase != ''">and s_is_purchase = #{s_is_purchase}</if>
            <if test="s_del !=null and s_del != ''">and s_del = #{s_del}</if>
            <if test="(s_start_updatetime != null and s_start_updatetime != '') and (s_end_updatetime != null and s_end_updatetime != '')">and s_updatetime BETWEEN #{s_start_updatetime} and #{s_end_updatetime}</if>
            <if test="(s_start_updatetime != null and s_start_updatetime != '') and (s_end_updatetime == null or s_end_updatetime =='')">and s_updatetime &gt;= #{s_start_updatetime}</if>
            <if test="(s_start_updatetime == null or s_start_updatetime =='') and (s_end_updatetime != null and s_end_updatetime != '')">and s_updatetime <![CDATA[ <= ]]> #{s_end_updatetime}</if>
            <if test="s_createtime !=null and s_createtime != ''">and s_createtime BETWEEN #{s_createtime} AND #{s_createtime}</if>
        </where>
    </select>

    <!-- 蔬菜进货来源下拉列表 -->
    <select id="getBaseVegetablesPurchaseSourceCombobox" resultType="java.util.Map">
        SELECT s_id id,s_name text FROM base_vegetables_purchase_source
    </select>


    <!-- 添加蔬菜进货来源信息 -->
    <insert id="addBaseVegetablesPurchaseSource" parameterType="java.util.Map">
        INSERT INTO base_vegetables_purchase_source(s_name,s_is_purchase,s_remark,s_del,s_updatetime,s_createtime)
        VALUES (#{add_s_name},#{add_s_is_purchase},#{add_s_remark},'00',now(),now())
    </insert>

    <!-- 修改蔬菜进货来源信息 -->
    <update id="updateBaseVegetablesPurchaseSource" parameterType="java.util.Map">
        UPDATE base_vegetables_purchase_source
        <set>
            <if test="edit_s_name != null and edit_s_name != ''">s_name = #{edit_s_name},</if>
            <if test="edit_s_is_purchase != null and edit_s_is_purchase != ''">s_is_purchase = #{edit_s_is_purchase},</if>
            <if test="edit_s_remark != null and edit_s_remark != ''">s_remark = #{edit_s_remark},</if>
            <if test="edit_s_del != null and edit_s_del != ''">s_del = #{edit_s_del},</if>
            s_updatetime = now()
        </set>
        WHERE s_id = #{s_id}
    </update>


</mapper>