<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vegetables.mapper.BaseVegetablesCategoryMapper">


    <!-- 查询蔬菜类别信息 -->
    <select id="getBaseVegetablesCategory" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT c_id,c_name,CASE c_del
        WHEN '00' THEN '可用'
        WHEN '01' THEN '已删除'
        END c_del_name,c_del,c_remark,
        DATE_FORMAT(c_updatetime,'%Y-%m-%d %H:%i:%S') c_updatetime,DATE_FORMAT(c_createtime,'%Y-%m-%d %H:%i:%S') c_createtime FROM base_vegetables_category
        <where>
            <if test="c_id != null and c_id != ''">and c_id = #{c_id}</if>
            <if test="c_name !=null and c_name != ''">and c_name like CONCAT('%',#{c_name},'%')</if>
            <if test="c_del != null and c_del != ''">and c_del = #{c_del}</if>
            <if test="c_remark != null and c_remark != ''">and c_remark = #{c_remark}</if>

            <if test="(c_start_updatetime != null and c_start_updatetime != '') and (c_end_updatetime != null and c_end_updatetime != '')">and c_updatetime BETWEEN #{c_start_updatetime} and #{c_end_updatetime}</if>
            <if test="(c_start_updatetime != null and c_start_updatetime != '') and (c_end_updatetime == null or c_end_updatetime =='')">and c_updatetime &gt;= #{c_start_updatetime}</if>
            <if test="(c_start_updatetime == null or c_start_updatetime =='') and (c_end_updatetime != null and c_end_updatetime != '')">and c_updatetime <![CDATA[ <= ]]> #{c_end_updatetime}</if>


            <if test="c_createtime !=null and c_createtime != ''">and c_createtime BETWEEN #{c_start_createtime} AND #{c_end_createtime}</if>
        </where>
    </select>


    <!-- 获取蔬菜类别下拉列表信息 -->
    <select id="getBaseVegetablesCategoryCombobox" resultType="java.util.Map">
        select c_id id,c_name text from base_vegetables_category
    </select>


    <!-- 添加蔬菜类别信息 -->
    <insert id="addBaseVegetablesCategory" parameterType="java.util.Map">
        INSERT INTO base_vegetables_category(c_name,c_remark,c_del,c_updatetime,c_createtime)
        VALUES (#{add_c_name},#{add_c_remark},'00',now(),now())
    </insert>

    <!-- 修改蔬菜类别信息 -->
    <update id="updateBaseVegetablesCategory" parameterType="java.util.Map">
        UPDATE base_vegetables_category
        <set>
            <if test="edit_c_name != null and edit_c_name != ''">c_name = #{edit_c_name},</if>
            <if test="edit_c_del != null and edit_c_del != ''">c_del = #{edit_c_del},</if>
            <if test="edit_c_remark != null and edit_c_remark != ''">c_remark = #{edit_c_remark},</if>
            c_updatetime = now()
        </set>
        WHERE c_id = #{c_id}
    </update>


</mapper>