<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vegetables.mapper.UserMapper">

    <!-- 根据userName查询user信息 -->
    <select id="getUserByUserName" parameterType="java.lang.String" resultType="com.vegetables.pojo.BaseUser">
        SELECT username,password FROM baseuser WHERE username = #{username}
    </select>

    <!-- 上传图片时把路劲保存到数据库 -->
    <insert id="insertBaseResource" parameterType="java.util.Map">
        INSERT INTO baseresource(resname,platenum,imgurl,description,createtime)
        VALUES(#{resname},#{platenum},#{imgurl},#{description},NOW());
    </insert>

    <!-- 获取上传图片信息 -->
    <select id="getBaseResource" parameterType="java.util.Map" resultType="java.util.Map">
        select id,resname,platenum text,imgurl,description,DATE_FORMAT(createtime,'%Y-%m-%d') createtime FROM baseresource
        WHERE createtime BETWEEN #{beginDate} AND #{endDate}
    </select>

    <!-- 获取一个上传图片详细信息 -->
    <select id="getOneBaseResourceDetail" parameterType="java.lang.String" resultType="java.util.Map">
        select id,resname,platenum,imgurl,description,createtime FROM baseresource WHERE id = #{id}
    </select>


    <!-- 按日期的年月日进行分组  获取指定时间内的每天有多少条数据 -->
    <select id="getGorupDateRows" parameterType="java.util.Map" resultType="java.util.Map">
        select count(1) count,text from (
        select DATE_FORMAT(createtime,'%Y-%m-%d') text from baseresource WHERE createtime BETWEEN #{beginDate} AND #{endDate}) a
        group by text
    </select>

    <!-- 获取白名单列表 -->
    <select id="getWhiteList" resultType="java.util.Map">
        SELECT id,realname,phone,platenum,dept FROM BaseWhiteList WHERE del = '00'
    </select>

    <!-- 修改白名单信息 -->
    <update id="updateWhite" parameterType="java.util.Map">
        UPDATE BaseWhiteList
        <set>
            <if test="realname != null and realname != ''">realname = #{realname},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="dept != null and dept != ''">dept = #{dept}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除白名单信息 -->
    <update id="deleteWhite" parameterType="java.lang.String">
        UPDATE BaseWhiteList set del = '01' WHERE id = #{id}
    </update>

    <!-- 根据车牌号查看白名单信息 -->
    <select id="getWhiteByPlateNum" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT id,realname,phone,platenum,dept FROM BaseWhiteList WHERE platenum = #{platenum} and del = '00'
    </select>

    <!-- 批量加入白名单信息 -->
    <insert id="insertBatchWhite" parameterType="java.util.List">
        INSERT INTO BaseWhiteList(realname,phone,platenum,dept,del,createtime)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.var0},#{item.var1},#{item.var2},#{item.var3},'00',now())
        </foreach>
    </insert>


</mapper>